@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #2c343f;
  --font-family: "Inter", sans-serif;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply Global Styles */
html,
body {
  height: 100%;
  /* background: var(--background); */
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.6;
  letter-spacing: 0.5px;
}

/* Ensure Main Content Stretches */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* For Webkit-based browsers (Chrome, Edge, Safari) */
.scroll-container::-webkit-scrollbar {
  height: 3px;
  /* Adjust the thickness */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #1d6042;
  /* Custom scrollbar color */
  border-radius: 10px;
  /* Rounded edges */
}

.scroll-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  /* Lighter track */
  border-radius: 10px;
}

/* Optional: Hide scrollbar for a cleaner look, but allow scrolling */
.scroll-container {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #1d6042 rgba(0, 0, 0, 0.1);
  /* Firefox */
}

/* Thin scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  height: 4px;
  /* Adjust the height to make it thinner */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
  /* border-radius: 3px; */
  /* Rounded corners */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  /* Thumb color */
  border-radius: 3px;
  /* Rounded corners */
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Thumb color on hover */
}

